Libreria/Service References/svcLibreria/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49585/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49585/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49585/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/examen2" />
      <xsd:import schemaLocation="http://localhost:49585/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_ObtenerListaTodosLibros_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaTodosLibros" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaTodosLibros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaTodosLibrosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaAutores_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaAutores" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaAutores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaAutoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaTodosGeneros_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaTodosGeneros" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaTodosGeneros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaTodosGenerosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaEditoriales_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaEditoriales" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaEditoriales_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaEditorialesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaLibrosXAutor_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaLibrosXAutor" />
  </wsdl:message>
  <wsdl:message name="IService1_ObtenerListaLibrosXAutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerListaLibrosXAutorResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="ObtenerListaTodosLibros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaTodosLibros" message="tns:IService1_ObtenerListaTodosLibros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaTodosLibrosResponse" message="tns:IService1_ObtenerListaTodosLibros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaAutores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaAutores" message="tns:IService1_ObtenerListaAutores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaAutoresResponse" message="tns:IService1_ObtenerListaAutores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaTodosGeneros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaTodosGeneros" message="tns:IService1_ObtenerListaTodosGeneros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaTodosGenerosResponse" message="tns:IService1_ObtenerListaTodosGeneros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaEditoriales">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaEditoriales" message="tns:IService1_ObtenerListaEditoriales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaEditorialesResponse" message="tns:IService1_ObtenerListaEditoriales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaLibrosXAutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ObtenerListaLibrosXAutor" message="tns:IService1_ObtenerListaLibrosXAutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ObtenerListaLibrosXAutorResponse" message="tns:IService1_ObtenerListaLibrosXAutor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerListaTodosLibros">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaTodosLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaAutores">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaAutores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaTodosGeneros">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaTodosGeneros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaEditoriales">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaEditoriales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaLibrosXAutor">
      <soap:operation soapAction="http://tempuri.org/IService1/ObtenerListaLibrosXAutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49585/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>